@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

div#LandingPage{
    text-align: center;
    height: 100vh;
    background: black url("./black-texture.jpg");
    background-repeat:round;
    background-size: cover;
    animation: fade-in 5s;
    animation-fill-mode: forwards;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
div#LandingPage > div > h1{
    color: white;
    padding-top: 25vh;
    display: block;
    animation: fade-in 5s 3.5s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 3vw;
    font-size: clamp(5vw, 3vw, 10vw);
}
div#LandingPage > div > h4{
    color: white;
    margin: 15vh auto;
    display:block;
    animation: fade-in 5s 5s;
    opacity: 0;
    animation-fill-mode: forwards;
    font-size: 1.5vw;
    font-size: clamp(2vw, 1.5vw, 4vw);
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 100;
    }
}
div.button-selection{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 75vw;
}
button.left, button.right{
    flex: 1 1 25vw;
    border-radius: clamp(500px, 50px, 5px);
    color: white;
    display: block;
    padding: 10%;
    animation: fade-in 5s 8s;
    opacity: 0;
    animation-fill-mode: forwards;
    height: 100%;
    width: 25vw;
    text-decoration:none;
    font-size: 1.25vw;
    font-size: clamp(0.5vw, 1.5vw, 2vw);
}
a{
    text-decoration: none;
}
button.left{
    background-color: red;
}
button.right{
    background-color: blue;
}
@media screen and (max-width: 900px){
    div.button-selection{
        width: 90vw;
    }
    div#LandingPage > div > h1{
        font-size: 10vw;;
        font-size: clamp(5vw, 6vw, 7vw);
    }
    div#LandingPage > div > h4{
        margin: 10vh auto;
        font-size: 4.5vw;
        font-size: clamp(2vw, 3vw, 4vw);
    }
    button.left, button.right{
        width: 40vw;
        font-size: 3vw;
        font-size: clamp(2vw, 2.5vw, 3vw);
        padding: clamp(1.5vw,2.5vw, 4vw);
    }
}
