ul{
    position:absolute;
    z-index: 10;
    list-style: none;
    width: fit-content;
    display: flex;
    flex-direction: column;
    max-height: 98vh;
}
li{
    color: greenyellow;
    width: 100%;
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 5vh;
    font-size: clamp(1vh, 3vh, 5vh);
    padding: 0;
}
li.inactive{
    display: none;
}
li.animation{
    animation: new-char 1.5s linear 0s 1 normal forwards;
}
@keyframes new-char {
    0%{
        color: rgb(255, 255, 255);
        opacity: 100;
    }
    20%{
        color: rgb(162, 204, 162);
        opacity: 100;
    }
    40%{
        color: rgb(91, 153, 91);
        scale: 1;
        opacity: 75;
    }
    60%{
        color: rgb(39, 102, 39);
        scale: 1;
        opacity: 50;
    }
    80%{
        color: rgb(9, 51, 9);
        scale: 1;
        opacity: 25;
    }
    100%{
        color: rgb(0, 0, 0);
        scale: 1;
        opacity: 0;
    }
}