@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
div#credentials{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.inactive{
    display:none;
}
div.outer-window{
    border-radius: 50px;
    border-color: #6FE2E2;
    width: 95vw;
    height: 95vh;
    background-color: black;
    margin: 2.5vh 2.5vw;
}
div.inner-window{
    border: 10px;
    vertical-align: middle;
    margin:  auto;
    padding: 10%;
    border-radius: 25px;
    border-color: #7DFDFE;
    background-color: black;
}
div.termial{
    vertical-align: middle;
    border: 10px;
    border-radius: 2px;
    border-color: #D3FFFF;
    margin: 0 auto;
    font-family: 'DotGothic16', sans-serif;
    font-size: 4vh;
    background-color: black;
    color: yellowgreen;
}
input.email, input.password{
    height: 6vh;
    vertical-align: middle;
    width: 40vw;
    font-family: 'DotGothic16', sans-serif;
    font-size: 5vh;
    background-color: black;
    color: yellowgreen;
    border: 0;
}
input:focus{
    outline: none;
}
input.credbtn, button.credbtn{
    background-color: black;
    color:yellowgreen;
    text-align: center;
    font-size: 4vh;
    font-family: 'DotGothic16', sans-serif;
    padding: 2%;
    
}
input.credbtn:hover, button.credbtn:hover{
    background-color: yellowgreen;
    color: black;
    border-bottom: 6px inset rgba(0, 0, 0, 0.5);
}
div.button-box{
    display: flex;
    width: 100;
    justify-content: space-between;
    margin-top: 20%;
}
div.button-box#submit-button-box{
    margin-top: 10%;
}
input.termial-inputs{
    outline: none;
    vertical-align: middle;
    border: 10px;
    border-radius: 2px;
    border-color: #D3FFFF;
    margin: 0 auto;
    font-family: 'DotGothic16', sans-serif;
    font-size: 4vh;
    background-color: black;
    color: yellowgreen;
}
a#exit-button{
    float: right;
}
a#exit-button:hover{
    
}